<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="~/Content/flatlab/img/favicon.png.html">
    <title>@ViewBag.Title - DVKH</title>
    @Styles.Render("~/css/common")
    @Styles.Render("~/css/plug-in")
    @Styles.Render("~/css/custom")
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="full-width">
    <section id="container" class="">
        @Html.Partial("~/Views/Shared/_Menu.cshtml")
        <!--sidebar start-->
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @Html.Partial("~/Areas/UuDaiNgoaiLe/Views/Shared/_Message.cshtml")
                @RenderBody()
            </section>
        </section>
        <!--main content end-->
        <!--footer start-->
        <!--footer end-->
    </section>
    @Scripts.Render("~/js/common")
    @Scripts.Render("~/js/plug-in")
    @Scripts.Render("~/js/custom")
    @RenderSection("scripts", required: false)
</body>
</html>